[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysqlclient = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]
"flake8" = "*"
rope = "*"

[requires]
python_version = "3.6"
